<!DOCTYPE html>
<html>
<head>
  <title>AmoebaCircus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Dashboard", dashboard_path %> | 
<%= link_to "Amoebas", amoebas_path %> | 
<%= link_to "Acts", acts_path  %>
<%= yield %>

</body>
</html>
